<!-- src/main/resources/templates/fragments/footer.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<footer th:fragment="footer">
    </br>
    <p>Contact us by phone: <b>0300 555 0286</b></p>
    <p>© 2024 Your Company</p>
    <br />
    <select name="language" id="language">
        <option value="English" selected>English</option>
        <option value="Welsh">Cymraeg</option>
    </select>
    <br />
    <label class="toggle"><span class="togglebox"><input type="checkbox" id="darkModeToggle" onclick="darkModeToggle()"><span class="toggleswitch"></span></span>Dark Mode<br /></label>
    <label  class="toggle"><span class="togglebox"><input type="checkbox" id="largeFontToggle" onclick="largeTextToggle()"><span class="toggleswitch"></span></span>Large Font<br /></label>

</footer>
</body>
</html>