<!-- src/main/resources/templates/fragments/footer.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<header th:fragment="header">
    <h1>HMRC</h1>
    <link rel="stylesheet" href="/css/style.css">

    <a href="/" class="button">Homepage</a>

    <h2>Pay your TV Licence Fine</h2>
    <select name="language" id="language">
        <option value="English" selected>English</option>
        <option value="Welsh">Cymraeg</option>
    </select>
    <br />
    <br />
    <label class="toggle"><span class="togglebox"><input type="checkbox" id="darkModeToggle" onclick="darkModeToggle()"><span class="toggleswitch"></span></span>Dark Mode<br /></label>
    <label  class="toggle"><span class="togglebox"><input type="checkbox" id="largeFontToggle" onclick="largeTextToggle()"><span class="toggleswitch"></span></span>Large Font<br /></label>
    <br />
</header>
</body>
</html>