<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Pay your TV Licence</title>
        <link rel="icon" type="image/x-icon" href="favicon.ico">
        <link rel="stylesheet" href="/css/style.css">
        <script type="text/javascript" src="/script/script.js"></script>
    </head>
    <body onload="loadSettings()">
        <h1>Pay your TV Licence</h1>
        <select name="language" id="language">
            <option value="English" selected>English</option>
            <option value="Welsh">Cymraeg</option>
        </select>
        <br />
        <br />
        <label class="toggle"><span class="togglebox"><input type="checkbox" id="darkModeToggle" onclick="darkModeToggle()"><span class="toggleswitch"></span></span>Dark Mode<br /></label>
        <label  class="toggle"><span class="togglebox"><input type="checkbox" id="largeFontToggle" onclick="largeTextToggle()"><span class="toggleswitch"></span></span>Large Font<br /></label>
        <br />
        <h2>Pay Online</h2>
        <br />
        <form th:object="${fineAmountDTO}" th:action="@{/updateAmount}" method="post">
        <table>
            <tr><td>Reference:</td><td><input  id="reference" th:field="*{reference}" placeholder="reference"></tr></td></tr>
            <tr><td>First Name:</td><td><input id="firstName" th:field="*{firstName}" placeholder="firstName"></td></tr>
            <tr><td>Surname:</td><td><input id="lastName" th:field="*{lastName}" placeholder="lastName"></td></tr>
            <tr><td>Address:</td><td><hr></td></tr>
            <tr><td>House Number: </td><td><input id="house" th:field="*{house}" placeholder="house"></td></tr>
            <tr><td>Street: </td><td><input id="street" th:field="*{street}" placeholder="street"></td></tr>
            <tr><td>Town:</td><td><input id="city" th:field="*{city}" placeholder="city"></td></tr>
            <tr><td>Postcode:</td><td><input id="postcode" th:field="*{postcode}" placeholder="postcode"></td></tr>
            <tr><td colspan="2"><hr></td></tr>

        </table>
            <br />
            <input type="submit" value="Search for fine.">
        </form>
    </body>
</html>