<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Pay your TV Licence</title>
        <link rel="icon" type="image/x-icon" href="favicon.ico">
        <link rel="stylesheet" href="/css/style.css">
        <script type="text/javascript" src="/script/script.js"></script>
    </head>
    <body>
        <h1>Pay your TV Licence</h1>
        <select name="language" id="language">
            <option value="English" selected>English</option>
            <option value="Welsh">Cymraeg</option>
        </select>
        <br />
        <br />
        <label class="toggle"><span class="togglebox"><input type="checkbox" id="darkModeToggle" onclick="darkModeToggle()"><span class="toggleswitch"></span></span>Dark Mode<br /></label>
        <label  class="toggle"><span class="togglebox"><input type="checkbox" id="largeFontToggle" onclick="largeTextToggle()"><span class="toggleswitch"></span></span>Large Font<br /></label>
        <br />
        Contact us by phone: <b>0300 555 0286</b><br />
        <br />
        Can be paid by sending a cheque made payable to TV Licencing to the address: <br />
        <br />
        TV Licensing<br />
        Darlington<br />
        DL98 1TL<br />
        <br />
        <a href="inputdetails">Pay Online</a>
    </body>
</html>