<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Pay your TV Licence</title>
        <link rel="icon" type="image/x-icon" href="favicon.ico">
        <link rel="stylesheet" href="/css/style.css">
        <script type="text/javascript" src="/script/script.js"></script>
    </head>
    <body onload="loadSettings()">
    <div th:insert="fragments/header :: header"></div>

    <br />
    <hr>
            <br />
            Contact us by phone: <b>0300 555 0286</b><br />
            <br /><hr>
            Can be paid by sending a cheque made payable to TV Licencing to the address: <br />
            <br />
            TV Licensing<br />
            Darlington<br />
            DL98 1TL<br />
            <br />
    <hr>
    <br /><br />
        <a href="/inputdetails" class="button">Pay Online.</a>
        <br />

        <div th:insert="fragments/footer :: footer"></div>
    </body>
</html>