<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Pay your TV Licence</title>
        <link rel="icon" type="image/x-icon" href="favicon.ico">
        <link rel="stylesheet" href="/css/style.css">
        <script type="text/javascript" src="/script/script.js"></script>
    </head>
    <body onload="loadSettings()">
    <div th:insert="fragments/header :: header"></div>

        <form th:action="@{/updateAmount}" method="post" th:object="${fineAmountDTO}" onsubmit="return validateForm()">
        <table>
            <tr>
                <td>Cardholder Name:</td>
                <td><input type="text" id="name" th:value="*{firstName} + ' ' + *{lastName}"></td>
            </tr>
            <tr><td>Credit/Debit card number:</td><td><input type="text" size="25" id="creditCardNumber"><span id="creditCardErrorText" class="errorText"></span></td></tr>
            <tr><td>Security code:</td><td><input type="text" size="3"></td></tr>
            <tr><td>Expiry date:</td><td><input type="text" size="2" maxlength = "2" id="expiryDateFirstPart"> / <input type="text" size="2" maxlength = "2" id="expiryDateSecondPart"><span id="expiryDateErrorText" class="errorText"></span></td></tr>
            <tr><td colspan="2"><hr></td></tr>
            <tr><th colspan="2">Billing Address Details</th></tr>
            <tr><td>House Number: </td><td><input type="text" size="6" id="house" th:value="*{house}"></td></tr>
            <tr><td>Street: </td><td><input type="text" id="street" th:value="*{street}"></td></tr>
            <tr><td>Town:</td><td><input type="text" id="city" th:value="*{city}"></td></tr>
            <tr><td>Postcode:</td><td><input type="text" size="8" maxlength="8" id="postcode" th:value="*{postcode}"><span id="postCodeErrorText" class="errorText"></span></td></tr>
            <tr><th colspan="2">Amount to pay off:</th></tr>
            <tr><td>Amount:</td><td><input type="text" id="fine" th:field=*{fine} placeholder="£"></td></tr>
            <tr><td colspan="2"><hr></td></tr>
        </table>

            <input type="hidden" th:field=*{reference} />
            <input type="hidden" th:field=*{firstName} />
            <input type="hidden" th:field=*{lastName} />
            <input type="hidden" th:field=*{house} />
            <input type="hidden" th:field=*{street} />
            <input type="hidden" th:field=*{city} />
            <input type="hidden" th:field=*{postcode} />
            <input type="hidden" th:field=*{email} />
        <input type="submit" value="Pay fine">
        </form>

        <div th:insert="fragments/footer :: footer"></div>
    </body>
<html>