<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Pay your TV Licence</title>
        <link rel="icon" type="image/x-icon" href="favicon.ico">
        <link rel="stylesheet" href="/css/style.css">
        <script type="text/javascript" src="/script/script.js"></script>
    </head>
    <body onload="loadSettings()">
    <div th:insert="fragments/header :: header"></div>

        <form th:object="${fineAmountDTO}" th:action="@{/payment}" method="post" target="payment">

            <table>
                <tr><td><label>Reference: </label></td><td><p th:text="*{reference}" /></p></td></tr>
                <tr><td><label>First Name: </label></td><td><p th:text="*{firstName}" /></p></td></tr>
                <tr><td><label>Surname: </label></td><td><p th:text="*{lastName}" /></p></td></tr>
                <tr><td>Address:</td><td><hr></td></tr>
                <tr><td><label>House No: </label></td><td><p th:text="*{house}" /></p></td></tr>
                <tr><td><label>Street:</label></td><td><p th:text="*{street}" /></p></td></tr>
                <tr><td><label>Town:</label></td><td><p th:text="*{city}" /></p></td></tr>
                <tr><td><label>Postcode:</label></td><td><p th:text="*{postcode}" /></p></td></tr>
                <tr><td><label>Fine amount:</label></td><td><p th:text="*{fine}" /></p></td></tr>
                <tr><td colspan="2"><hr></td></tr>

            </table>
            <br />
            <input type="submit" value="Continue to payment">
        </form>
        <div th:insert="fragments/footer :: footer"></div>
    </body>
</html>