<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Pay your TV Licence</title>
        <link rel="icon" type="image/x-icon" href="favicon.ico">
        <link rel="stylesheet" href="/css/style.css">
        <script type="text/javascript" src="/script/script.js"></script>
    </head>
    <body>
        <h1>Pay your TV Licence</h1>
        <select name="language" id="language">
            <option value="English" selected>English</option>
            <option value="Welsh">Cymraeg</option>
        </select>
        <br />
        <br />
        <label class="toggle"><span class="togglebox"><input type="checkbox" id="darkModeToggle" onclick="darkModeToggle()"><span class="toggleswitch"></span></span>Dark Mode<br /></label>
        <label  class="toggle"><span class="togglebox"><input type="checkbox" id="largeFontToggle" onclick="largeTextToggle()"><span class="toggleswitch"></span></span>Large Font<br /></label>
        <br />
        <h2>Pay Online</h2>
        <br />
        <form action="payment" method="post" target="payment">
        <table>
            <tr><td><label for="reference">Reference:</label></td><td><span id="reference" th:field="*{reference}" placeholder="reference"></span></td></tr>
            <tr><td><label for="firstName">First Name:</label></td><td><span id="firstName" th:field="*{firstName}" placeholder="firstName"></span></td></tr>
            <tr><td><label for="lastName">Surname:</label></td><td><span id="lastName" th:field="*{lastName}" placeholder="lastName"></span></td></tr>
            <tr><td>Address:</td><td><hr></td></tr>
            <tr><td><label for="house">House Number: </label></td><td><span id="house" th:field="*{house}" placeholder="house"></span></td></tr>
            <tr><td><label for="street">Street: </label></td><td><span id="street" th:field="*{street}" placeholder="street"></span></td></tr>
            <tr><td><label for="city">Town:</label></td><td><span id="city" th:field="*{city}" placeholder="city"></span></td></tr>
            <tr><td><label for="postcode">Postcode:</label></td><td><span id="postcode" th:field="*{postcode}" placeholder="postcode"></span></td></tr>
            <tr><td><label for="amount">Postcode:</label></td><td><span id="amount" th:field="*{amount}" placeholder="amount"></span></td></tr>
            <tr><td colspan="2"><hr></td></tr>
            
        </table>
        <br />
        <input type="submit" value="Continue to payment">
    </form>
    </body>
</html>