<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Success!</title>
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link rel="stylesheet" href="/css/style.css">
    <script type="text/javascript" src="/script/script.js"></script>
</head>
<body onload="loadSettings()">
<div th:insert="fragments/header :: header"></div>

<br />
Your fine has been paid.
<br />
<br />
<a href="/" class="button">Return to homepage.</a>

<div th:insert="fragments/footer :: footer"></div>
</body>
</html>